AUTH_JWT_SECRET=
UCM_INGEST_USERNAME=
UCM_INGEST_PASSWORD=
UCM_WEBHOOK_SECRET=
UCM_RAW_RETENTION_DAYS=90
UCM_BASE_URL=https://ucm.internal.example
UCM_API_USERNAME=
UCM_API_PASSWORD=
UCM_API_BASE_URL=https://192.168.1.40:8089
UCM_CDR_BASE_URL=https://192.168.1.40:8443
UCM_CDR_USERNAME=
UCM_CDR_PASSWORD=
UCM_CA_FILE=
CLOUDFLARE_CDR_ENDPOINT=https://trainer-kb.alisoub60.workers.dev/integrations/ucm/cdr
UCM_CUSTOM_CA_PATH=
UCM_ALLOW_SELF_SIGNED_DEVELOPMENT=false
