AUTH_JWT_SECRET=
UCM_INGEST_USERNAME=
UCM_INGEST_PASSWORD=
UCM_WEBHOOK_SECRET=
UCM_RAW_RETENTION_DAYS=90
UCM_BASE_URL=https://ucm.internal.example
UCM_API_USERNAME=
UCM_API_PASSWORD=
UCM_CUSTOM_CA_PATH=
UCM_ALLOW_SELF_SIGNED_DEVELOPMENT=false
